# Tratar datos duplicados o perdidos

In [3]:
# Libreria
import pandas as pd

# Dataset
# 10'6 = 1e6
df = pd.read_csv('../dataset/base_datos_2008.csv', nrows = 1e6)

# Dataframe
df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2008,2,12,2,1648.0,1655,1959.0,2005,MQ,4695,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
999996,2008,2,13,3,1647.0,1655,2013.0,2005,MQ,4695,...,6.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
999997,2008,2,14,4,1653.0,1655,2000.0,2005,MQ,4695,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
999998,2008,2,15,5,1650.0,1655,1951.0,2005,MQ,4695,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
999999,2008,2,17,7,NaN,1655,NaN,2005,MQ,4695,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN

In [4]:
# Dataframe artificial que duplica los datos
dfduplicado = df.append(df)

In [8]:
# Sacamos la muestra de el dataframe para que no se trabaje con datos ordenados
dfduplicado = dfduplicado.sample(frac = 1)

### Eliminamos los duplicados y los guardamos en un nuevo dataframe

In [13]:

dflimpios = dfduplicado.drop_duplicates()

In [14]:
# Mostramos el dataframe limpio (Sin elementos duplicados)
dflimpios

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
263862,2008,1,7,1,642.0,635,838.0,840,US,1592,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
18177,2008,1,8,2,848.0,850,1044.0,1055,WN,247,...,6.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
138069,2008,1,13,7,1904.0,1900,2010.0,1955,YV,7409,...,5.0,16.0,0,NaN,0,15.0,0.0,0.0,0.0,0.0
644733,2008,2,14,4,1954.0,1950,2034.0,2040,WN,1251,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
100204,2008,1,25,5,1853.0,1855,2001.0,2006,XE,7691,...,7.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797821,2008,2,21,4,NaN,1945,NaN,2208,OO,6385,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
622573,2008,2,7,4,817.0,820,905.0,910,WN,1400,...,1.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
451060,2008,1,22,2,1842.0,1845,2124.0,2138,NW,1642,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
74533,2008,1,25,5,1838.0,1825,2042.0,2035,WN,536,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
785177,2008,2,13,3,1045.0,1047,1329.0,1327,OO,6718,...,4.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [16]:
# Comprobamos si la longitud del dataframe limpio es igual al dataframe con datos duplicados
len(dflimpios) == len(dfduplicado)

False

### Eliminar datos duplicados de una columna

In [18]:
# Muestra solo 1 valor de la columna Dia del mes, en total solo 31 filas
dflimpios.drop_duplicates(subset = 'DayofMonth')

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
263862,2008,1,7,1,642.0,635,838.0,840,US,1592,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
18177,2008,1,8,2,848.0,850,1044.0,1055,WN,247,...,6.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
138069,2008,1,13,7,1904.0,1900,2010.0,1955,YV,7409,...,5.0,16.0,0,NaN,0,15.0,0.0,0.0,0.0,0.0
644733,2008,2,14,4,1954.0,1950,2034.0,2040,WN,1251,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
100204,2008,1,25,5,1853.0,1855,2001.0,2006,XE,7691,...,7.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
940850,2008,2,4,1,1459.0,1455,1629.0,1619,FL,292,...,8.0,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99669,2008,1,31,4,1906.0,1840,2358.0,2341,XE,74,...,7.0,11.0,0,NaN,0,17.0,0.0,0.0,0.0,0.0
676940,2008,2,24,7,1958.0,1950,2202.0,2205,WN,593,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
334413,2008,1,28,1,NaN,1340,NaN,1443,EV,4521,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
186756,2008,1,11,5,2226.0,2234,12.0,2359,OO,6462,...,5.0,37.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
504013,2008,1,2,3,600.0,605,1152.0,1155,AA,1288,...,8.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
664686,2008,2,20,3,738.0,735,744.0,745,WN,121,...,6.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
988805,2008,2,27,3,1438.0,1440,1713.0,1705,MQ,4159,...,12.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
293862,2008,1,30,3,1614.0,1615,2147.0,2206,US,1584,...,5.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
10622,2008,1,6,7,809.0,800,925.0,925,WN,612,...,2.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
173926,2008,1,3,4,718.0,721,853.0,846,OO,6525,...,12.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
561631,2008,1,29,2,830.0,840,938.0,1005,B6,1609,...,10.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
975299,2008,2,19,2,925.0,930,1054.0,1110,MQ,3583,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
954366,2008,2,23,6,720.0,725,1009.0,1011,FL,86,...,8.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
270643,2008,1,12,6,2210.0,2215,2340.0,2357,US,1637,...,2.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
805988,2008,2,26,2,NaN,1859,NaN,1902,OO,6597,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
853474,2008,2,5,2,703.0,709,945.0,1010,US,173,...,4.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
116165,2008,1,9,3,1441.0,1443,1541.0,1545,XE,3017,...,3.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
160908,2008,1,18,5,1210.0,1145,1417.0,1357,OH,5066,...,19.0,14.0,0,NaN,0,20.0,0.0,0.0,0.0,0.0
202112,2008,1,21,1,1314.0,1106,1447.0,1236,OO,6404,...,7.0,14.0,0,NaN,0,0.0,0.0,131.0,0.0,0.0
985259,2008,2,1,5,1433.0,1230,1512.0,1320,MQ,4016,...,3.0,10.0,0,NaN,0,0.0,26.0,0.0,0.0,86.0
760711,2008,2,22,5,1600.0,1455,1635.0,1541,OH,5598,...,1.0,11.0,0,NaN,0,0.0,54.0,0.0,0.0,0.0
738353,2008,2,16,6,1247.0,1214,1348.0,1330,YV,7219,...,10.0,13.0,0,NaN,0,0.0,0.0,0.0,0.0,18.0
721983,2008,2,17,7,1636.0,1455,1741.0,1617,XE,1209,...,6.0,11.0,0,NaN,0,84.0,0.0,0.0,0.0,0.0
406478,2008,1,15,2,910.0,915,933.0,940,MQ,4160,...,5.0,24.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
221656,2008,1,10,4,1651.0,1633,1810.0,1730,UA,127,...,8.0,15.0,0,NaN,0,18.0,0.0,22.0,0.0,0.0

### Eliminar los datos faltantes del dataset

In [20]:
df.dropna()
# Esto devuelve una consulta vacia por que hay vuelos donde al menos un caracter falta (NaN)

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [23]:
# La mejor forma de llevar a cabo lo anterior y no ser tan radical es
df.dropna(thresh = 25)
# ahi considera 25 columnas de las 29 que se encuentran en total

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

In [28]:
# Se puede complementar para que sea mas especifico y solo se considere como maximo los valores(n) faltantes
# Asi el dataframe va incrementando segun las nececidades que presentemos
df.dropna(thresh = len(df.columns)-1) 
# El resultado es el mismo por que las columnas van en bloque

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

### Filtrar por una columna en concreto

In [29]:
# CancellationCode
# Vamos a filtrar mediante la columna donde no se tengan NaN 
df.dropna(subset = ['CancellationCode'])

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999913,2008,2,11,1,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
999919,2008,2,17,7,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999961,2008,2,17,7,NaN,1445,NaN,1630,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999971,2008,2,22,5,NaN,1235,NaN,1415,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999999,2008,2,17,7,NaN,1655,NaN,2005,MQ,4695,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN