# Python para ciencia de datos y big data escencial

In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv('../dataset/base_datos_2008.csv')

In [3]:
dataframe

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009723,2008,12,13,6,1002.0,959,1204.0,1150,DL,1636,...,6.0,45.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009724,2008,12,13,6,834.0,835,1021.0,1023,DL,1637,...,5.0,23.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009725,2008,12,13,6,655.0,700,856.0,856,DL,1638,...,24.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009726,2008,12,13,6,1251.0,1240,1446.0,1437,DL,1639,...,13.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009727,2008,12,13,6,1110.0,1103,1413.0,1418,DL,1641,...,8.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [7]:
# Exploar las filas que tenemos, de manera desordenada
# Esto va bien cuando deseamos trabar con datos aleatorios y no solo con los primeros 10 elementos de los datos
# mejorando la muestra para mejores resultados
dataframe.sample( frac = 1)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
78655,2008,1,27,7,1155.0,1200,1508.0,1520,WN,175,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
975780,2008,2,27,3,1341.0,1340,1457.0,1455,MQ,3609,...,4.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4991452,2008,9,26,5,1830.0,1840,2142.0,2148,OH,6260,...,3.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5235566,2008,9,17,3,1301.0,1310,1400.0,1409,NW,672,...,3.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2001531,2008,4,16,3,735.0,745,854.0,852,OO,6046,...,6.0,33.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498851,2008,1,29,2,754.0,800,854.0,900,AA,1109,...,10.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3628669,2008,7,10,4,1020.0,1020,1118.0,1125,WN,1631,...,2.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3651395,2008,7,17,4,1831.0,1815,1917.0,1915,WN,1154,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7005942,2008,12,10,3,1704.0,1655,1947.0,1917,DL,1287,...,3.0,44.0,0,NaN,0,0.0,9.0,21.0,0.0,0.0
2102016,2008,4,27,7,916.0,920,1139.0,1125,DL,1251,...,5.0,26.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [9]:
# Explorar las columnas que tenemos
dataframe.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [10]:
# Muestra los tipos de datos de cada columna del dataframe
dataframe.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [11]:
# Mostrar los objetos que tenemos 
dataframe.values

array([[2008, 1, 3, ..., nan, nan, nan],
       [2008, 1, 3, ..., nan, nan, nan],
       [2008, 1, 3, ..., nan, nan, nan],
       ...,
       [2008, 12, 13, ..., nan, nan, nan],
       [2008, 12, 13, ..., nan, nan, nan],
       [2008, 12, 13, ..., nan, nan, nan]], dtype=object)

In [12]:
# Podemos guardar los datos de una consulta grande o pequeña para poder trabajar de manera independiente
# Esto requiere espacio de memoria pero es comodo para realizar pruebas 

df2 = dataframe.head(100)

In [13]:
df2

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2008,1,3,4,1506.0,1440,2030.0,2010,WN,2032,...,6.0,15.0,0,NaN,0,18.0,0.0,0.0,0.0,2.0
96,2008,1,3,4,2039.0,1930,155.0,55,WN,3940,...,5.0,14.0,0,NaN,0,0.0,0.0,22.0,0.0,38.0
97,2008,1,3,4,924.0,920,1209.0,1210,WN,71,...,3.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
98,2008,1,3,4,1611.0,1535,1849.0,1825,WN,538,...,3.0,22.0,0,NaN,0,9.0,0.0,0.0,0.0,15.0
99,2008,1,3,4,1824.0,1715,117.0,25,WN,2383,...,2.0,10.0,0,NaN,0,48.0,0.0,0.0,0.0,4.0